@charset "utf-8";
#gwirio{display:none;position:absolute;max-width:18em;margin:.2em 0 0 -.6em;color:rgba(0,0,0,0.8);font-size:15px;line-height:1.4;box-shadow:rgba(0,0,0,0.3) 2px 3px 16px;border-radius:8px;background:#F8D6D6;overflow:hidden;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif}
#gwirio.gramadeg{background:#DAF0DC}
#gwirio>div{padding:.3em .6em;background:#E35B5B;color:#fff}
#gwirio>ol{margin:0;padding:0;list-style:none;max-height:20em;overflow-y:auto}
#gwirio>ul{display:flex;flex-wrap:wrap;margin:0 -1px -1px 0;padding:0;list-style:none;border-top:1px solid rgba(0,0,0,0.1)}
#gwirio>ol:empty+ul{border:none!important}
#gwirio li{margin:0;padding:.3em .6em;cursor:pointer;transition:all .1s linear}
#gwirio li:hover,#gwirio>ol:not(:hover)>.dewis{background:#E35B5B;color:#fff;border-color:transparent}
#gwirio>ol>li{counter-increment:rhif;font-weight:600}
#gwirio li:after{content:'';font-size:.7em;line-height:2;font-weight:600;float:right;width:1em;text-align:center}
#gwirio>ol>li:nth-child(-n+9):after{content:counter(rhif)}
#gwirio>ul>li{box-sizing:border-box;width:50%;border-bottom:1px solid rgba(0,0,0,0.1);border-right:1px solid rgba(0,0,0,0.1)}
#gwirio #gwirio-neidio:after{content:'A';margin-top:1px}
#gwirio #gwirio-dysgu:after{content:'D';margin-top:1px}
#gwirio #gwirio-nol:after{content:'←';font-size:.8em}
#gwirio #gwirio-nesaf:after{content:'→';font-size:.8em}
#gwirio :after{font-style:normal;color:#E35B5B;transition:all .1s linear}
#gwirio.gramadeg>div{background:#6BC373}
#gwirio.gramadeg li:hover,#gwirio.gramadeg>ol:not(:hover)>.dewis{background:#6BC373}
#gwirio.gramadeg :after{color:#6BC373}
#gwirio :hover:after,#gwirio>ol:not(:hover)>.dewis:after{color:#FFF}
#gwirio,.gwirydd-agored .gwall-gwirio{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.gwirydd-agored #gwirio{display:block;animation:mewn .1s ease-out}
.gwall-gwirio{transition:background .2s}
.gwall-sillafu{border-bottom:4px solid rgba(220,50,50,0.7)}
.gwall-gramadeg{border-bottom:4px solid rgba(70,180,80,0.7)}
.gwall-dangos.gwall-gwirio{background:rgba(220,50,50,.2);box-shadow:0 0 0 4px rgba(220,50,50,.2);border:none;border-radius:2px}
.gwall-dangos.gwall-gramadeg{background:rgba(70,180,80,.2);box-shadow:0 0 0 4px rgba(70,180,80,.2)}
@keyframes mewn{
	from{transform:translateY(10px);opacity:0}
	to{transform:translateY(0);opacity:1}
}
@supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter:blur(20px)){
	#gwirio{background:rgba(238,157,157,.4);-webkit-backdrop-filter: blur(20px);backdrop-filter:blur(20px)}
	#gwirio.gramadeg{background:rgba(233,246,234,.4)}
}
.gwirio-daliwr{position:relative}
.gwirio-gorchudd{position:absolute;top:0;left:0;box-sizing:border-box;border-style:solid;border-color:transparent!important;white-space:pre-wrap}
