@charset "utf-8";
.mce-ico.gwirydd-eicon{background:no-repeat center;background-size:contain}
.mce-ico.mce-i-gwirydd{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23555d66' d='M8.52 16H6.79l-4.17-5.85 1.73-1.61 3.31 3.09L14.28 4 16 5.21 8.52 16zM3.18 0a2.88 2.88 0 012 .84L4.22 1.9a1.48 1.48 0 00-1-.42c-.8 0-1.42.7-1.42 1.88s.62 1.9 1.5 1.9a1.42 1.42 0 001-.52l.94 1a2.68 2.68 0 01-2.08 1A3 3 0 010 3.42 3.13 3.13 0 013.18 0z'/%3E%3Cpath d='M7.46 4.47L5.4.12h1.84l.54 1.42C8 2 8.13 2.5 8.31 3c.18-.52.37-1 .55-1.48l.58-1.4h1.8L9.18 4.47v2.15H7.46z' fill='%23555d66'/%3E%3C/svg%3E")}
.mce-ico.mce-i-acenion{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M1 4.38h2.32l1.18 5c.2.93.34 1.83.52 2.77h.08c.18-.94.38-1.87.62-2.77l1.28-5h2.1l1.3 5c.24.93.44 1.83.66 2.77h.08c.18-.94.34-1.84.52-2.77l1.18-5H15L12.5 14H9.76L8.62 9.51c-.22-.9-.38-1.78-.6-2.8h-.08c-.18 1-.36 1.92-.58 2.82L6.24 14H3.6zM6.85 0h2.3l2.35 3.5h-2l-1.48-2H8l-1.48 2h-2z' fill='%23555d66'/%3E%3C/svg%3E")}
.gwirydd-brysur .mce-ico.mce-i-gwirydd{animation:troi 1s infinite linear;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M4.18 7.11A3.89 3.89 0 018 4a3.75 3.75 0 013.11 1.6l1.51-1.78A6.08 6.08 0 008 1.78a6.21 6.21 0 00-6.13 5.33H0l3.11 3.56 3.11-3.56zm8.71-1.78L9.78 8.89h2A4 4 0 018 12a3.75 3.75 0 01-3.11-1.6l-1.51 1.69A5.86 5.86 0 008 14.22a6.21 6.21 0 006.13-5.33H16z' fill='%23555d66'/%3E%3C/svg%3E")}
.gwirydd-rhifau{background:#E35B5B!important;border-color:#c22121!important}
.gwirydd-rhifau b{color:#fff;font-size:16px;font-weight:bold;line-height:20px;height:20px;width:auto;min-width:20px;text-align:center;display:inline-block;text-shadow:0 0 2px rgba(0,0,0,0.4)}
.gwirydd-rhifau i{display:none}
table.gwirydd-acenion{width:100%}
.gwirydd-acenion:first-child{margin-bottom:10px}
.gwirydd-acenion th,.gwirydd-acenion td{border:1px solid #aaa;height:48px;vertical-align:middle}
.gwirydd-acenion th>div{font-size:48px;width:100%;min-width:48px;line-height:.5;margin-top:20px;text-align:center!important}
.gwirydd-acenion td>div{font-size:32px;width:100%;min-width:48px;text-align:center!important}
.gwirydd-acenion th.dangos{background:#333}
.gwirydd-acenion th.dangos div{color:#fff}
.gwirydd-acenion .cuddio{display:none}
.gwirydd-acenion th:not(.dangos):hover, .gwirydd-acenion td:hover{cursor:pointer;background:#eef}
@keyframes troi {100%{transform:rotate(-360deg)}}

.gwirydd-eicon{position:relative!important}
.gwirydd-rhif{position:absolute!important;top:0;left:0;right:0;bottom:0;text-align:center!important;border-radius:4px;background:#E35B5B!important;color:#fff!important;font-size:14px!important;font-weight:bold!important;line-height:24px!important;text-shadow:0 0 2px rgba(0,0,0,0.4)!important}
